<div class ="box-table">
	<h1 class ="description" > List of Items</h1>
	<div class = "heading">
		<label>Search: <input class = "input" type = "text" data-ng-model="search.$" /></label>
	</div>
	
	<br />
	<table>
		
		<thead>
			<tr>
				<th>Photos</th>
				<th>Title</th>
				<th>Price</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>

			</tr>
		</thead>
		<tbody data-ng-repeat="listing in myData">
        	<tr data-ng-repeat="data in listing | filter: search: startsWith" >
					
        				<td>
        				{{$index + 1}}
						<a class ="fancybox-thumbs" data-fancybox-group="{{$index}}" data-ng-href="{{data.photos[0].url}}"><img class = "img user-tumb" data-ng-src="{{data.photos[0].url}}" alt ="" /></a>
							<div class = "hidden">
								<ul data-ng-repeat="photo in data.photos" ng-if="$index > 0">
									<a class ="fancybox-thumbs hidden" data-fancybox-group="{{$parent.$parent.$index}}" data-ng-href="{{photo.url}}">
        								<img class = "img user-tumb" data-ng-src="{{photo.url}}" alt ="" />
        							</a>
								</ul>

							</div>
							</td>
						

       				<td>{{data.title}}</td>
       				<td>{{data.price | currency : $ : 2}}</td>
       				<td>{{data.user.firstName}} {{data.user.lastName}}</td>
       				<td>{{data.user.username}}</td>
       				<td>{{data.user.email}}</td>

       		</tr>
		</tbody>
	</table>

</div>